<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/assets/img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="CodePixar">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- Site Title -->
    <title>@ViewData["Title"] - SellPhoneWebsite</title>
    <partial name="_css" />
</head>
<body>

    <!-- Start Header Area -->
    <partial name="Component/_header"/>
    <!-- End Header Area -->
    <!-- Start Banner Area -->
    <partial name="Component/_banner"/>
    <!-- End Banner Area -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Start Footer Area-->
    <partial name="Component/_footer"/>
    <!-- End Footer Area-->
    <partial name="_script" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
